<h1>New log!</h1>

<form action="/logs/new" method="POST">
    <label id="username">Username</label><input type="username" id="username" placeholder="Username">
    <label id="email">Email</label><input type="email" id="email" placeholder="Email address">
</form>