<% include partials/header %>

<div class="container">
    <h1>New log!</h1>
    
        <form action="/logs" method="POST">
            <div class="form-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="typeSelect">Type</label>
                </div>
                <select class="custom-select" name="log[exse_type_ref]" id="typeSelect">
                    <option selected>Choose...</option>
                    <option value="Chest">Chest</option>
                    <option value="Back">Back</option>
                    <option value="Quads">Quads</option>
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="nameSelect">Name</label>
                </div>                
                <select class="custom-select" name="log[exse_name_ref]" id="nameSelect">
                    <option selected>Choose...</option>
                    <option value="Barbell Bench Press">Barbell Bench Press</option>
                    <option value="Barbell rows">Barbell rows</option>
                    <option value="Barbell Squats">Barbell Squats</option>
                </select>                
                <label id="reps">Repetitions</label><input class="form-control" type="number" min="0" name="log[reps]" id="reps">
                <label id="weight">Weight</label><input class="form-control" type="number" min="0" name="log[weight]" id="weight">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

<% include partials/footer %>